<!doctype html>
<html class="no-js" lang="{{language}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{i18n "pagetitle"}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{assets}}/layout/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{assets}}/layout/favicon.ico" type="image/x-icon">
    {{#if production}}
        <link rel="stylesheet" href="{{assets}}/css/app.min.css" />
    {{else}}
        <!-- link rel="stylesheet" href="{{assets}}/css/externals.css" / -->
        <link rel="stylesheet" href="{{assets}}/css/app.min.css" />
    {{/if}}
    <script src="{{assets}}/js/vendor/modernizr.js"></script>
</head>
<body class="{{#if body_classes}}{{body_classes}}{{/if}}">
{{>legacy_browser_hint}}

<div class="page-container">
    {{>header}}
    {{ body }}
    {{>footer}}
</div>

{{#if production}}
    <script type="text/javascript" src="{{assets}}/js/app.min.js"></script>
    {{>tracking}}
{{else}}
    <script type="text/javascript" src="{{assets}}/js/app.js"></script>
{{/if}}
</body>
</html>